.floating-header {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  background: hsla(0, 0%, 100%, 0.95);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translate3d(0, -120%, 0);
}
.floating-active {
  visibility: visible;
  transition: all 0.5s cubic-bezier(0.22, 1, 0.27, 1);
  transform: translateZ(0);
}
.floating-header-logo {
  overflow: hidden;
  margin: 0 0 0 20px;
  font-size: 1.6rem;
  line-height: 1em;
  letter-spacing: -1px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.floating-header-logo a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  color: #15171a;
  line-height: 1.1em;
  font-weight: 700;
}
.floating-header-logo a:hover {
  text-decoration: none;
}
.floating-header-logo img {
  margin: 0 10px 0 0;
  max-height: 20px;
}
.floating-header-divider {
  margin: 0 5px;
  line-height: 1em;
}
.floating-header-title {
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  margin: 0;
  color: #2e2e2e;
  font-size: 1.6rem;
  line-height: 1.3em;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.floating-header-share {
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-left: 2%;
  font-size: 1.3rem;
  line-height: 1;
}
.floating-header-share,
.floating-header-share a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.floating-header-share a {
  -ms-flex-pack: center;
  justify-content: center;
}
.floating-header-share svg {
  width: auto;
  height: 16px;
  fill: #fff;
}
.floating-header-share-label {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
}
.floating-header-share-label svg {
  margin: 0 5px 0 10px;
  width: 18px;
  height: 18px;
  stroke: rgba(0, 0, 0, 0.7);
  transform: rotate(90deg);
}
.floating-header-share-fb,
.floating-header-share-tw {
  display: block;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  width: 60px;
  height: 60px;
  color: #fff;
  line-height: 48px;
  text-align: center;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.floating-header-share-tw {
  background: #33b1ff;
}
.floating-header-share-fb {
  background: #005e99;
}
.progress {
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  border: none;
  color: #3eb0ef;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.progress::-webkit-progress-bar {
  background-color: transparent;
}
.progress::-webkit-progress-value {
  background-color: #3eb0ef;
}
.progress::-moz-progress-bar {
  background-color: #3eb0ef;
}
.progress-container {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: transparent;
}
.progress-bar {
  display: block;
  width: 50%;
  height: inherit;
  background-color: #3eb0ef;
}
@media (max-width: 900px) {
  .floating-header {
    height: 40px;
  }
  .floating-header-logo,
  .floating-header-title {
    font-size: 1.5rem;
  }
  .floating-header-share-fb,
  .floating-header-share-tw {
    width: 40px;
    height: 40px;
    line-height: 38px;
  }
}
@media (max-width: 800px) {
  .floating-header-logo {
    margin-left: 10px;
  }
  .floating-header-logo a {
    color: #2e2e2e;
  }
  .floating-header-divider,
  .floating-header-title {
    visibility: hidden;
  }
}
@media (max-width: 450px) {
  .floating-header-share-label {
    display: none;
  }
}
