{{ partial "head" . }}

<body class="post-template">
  <div class="site-wrapper"> 

    {{ partial "posts/header" . }}

    <main id="site-main" class="site-main outer" role="main">
      <div class="inner">
        {{ partial "posts/single" . }}
        {{ partial "disqus" . }}
      </div>
    </main>

    <aside class="read-next outer">
      <div class="inner">
        <div class="read-next-feed">      
          {{ partial "posts/readnext-random" . }}
          {{with .NextInSection}}
          {{ partial "posts/readnext-article" . }}
          {{end}}
          {{with .PrevInSection}}
          {{ partial "posts/readnext-article" . }}
          {{end}}
        </div>
      </div>
    </aside>

    {{ partial "posts/header-floating" . }}

    {{ partial "footer" . }}
  </div>
  {{ partial "js" . }}
</body></html>
