{{ partial "head" . }}

<body class="post-template">
  <div class="site-wrapper"> 

{{ partial "header-post" . }}

<main id="site-main" class="site-main outer" role="main">
  <div class="inner">
    {{ partial "post-single" . }}
    {{ partial "disqus" . }}
  </div>
</main>

<aside class="read-next outer">
  <div class="inner">
    <div class="read-next-feed">      
      {{ partial "readnext-random" . }}
      {{with .NextInSection}}
      {{ partial "readnext-article" . }}
      {{end}}
      {{with .PrevInSection}}
      {{ partial "readnext-article" . }}
      {{end}}
    </div>
  </div>
</aside>

{{ partial "header-floating" . }}

{{ partial "footer" . }}
</div>
{{ partial "js" . }}
</body></html>
