<article class="post-full post"> 
    <header class="post-full-header">
        <section class="post-full-meta">
            <time class="post-full-meta-date" datetime="{{.Date.Format "2006-01-02"}}">{{ .Date.Format "2 January 2006" | safeHTML }}</time>{{if .Params.tags }}
                <span class="date-divider">/</span> {{ range $index, $tag := .Params.tags }}{{if lt $index 2}}<a href="{{$.Site.BaseURL}}tags/{{ $tag | urlize }}/">#{{$tag}}</a>&nbsp;{{end}}{{end}}{{ end }}
        </section>
        <h1 class="post-full-title">{{.Title}}</h1>

    </header>
    {{if .Params.image}}
    <figure class="post-full-image" style="background-image: url({{.Params.image | absURL}})">
    </figure>{{else}}
    <figure class="post-full-image" style="background-image: url(https://res.cloudinary.com/mhdev/image/upload/c_scale,r_0,w_1200/v1547330791/blog/defaultImages/covers/{{ index (seq 8 | shuffle) 0 }}.jpg)">
    </figure>{{end}}
      <div class='PostMetadata'>  
        <img class="PostMetadata__profileImage" src="{{.Site.Params.authorAvatar}}" alt="Gravatar Picture for {{.Site.Params.author}}" />
        <div class="PostMetadata__author">
          <span class="PostMetadata__author--prefix">Author</span>
          <p>{{.Site.Params.author}}</p>
        </div>
      <div class="PostMetadata__lastUpdated">
          <span class="PostMetadata__lastUpdated--prefix">Last Updated</span>
      <span><time datetime="{{.Date.Format "2006-01-02"}}">{{ .Lastmod.Format "2 January 2006" | safeHTML }}</time></span>
</div>
      <div class="PostMetadata__timeToRead">
          <span class="PostMetadata__timeToRead--prefix">TTR</span>

      <span>{{.ReadingTime}} min(s) to read</span>
      </div>
      <git-edit large file-path='{{ .File.Dir}}{{.File.LogicalName}}'></git-edit>
      </div>
    <section class="post-full-content">
        <div class="kg-card-markdown">
        {{ .Content }}    
        </div>
    </section>
</article>
