<header class="site-header outer " {{if .Site.Params.cover}} style="background-image: url({{.Site.Params.cover | absURL}})" {{end}} >
  <div class="inner">
    <div class="site-header-content">
      <h1 class="site-title">{{ if .Site.Params.logo }}
        <img class="site-logo" src="{{ .Site.Params.logo  | absURL}}" alt="{{ .Site.Params.title }}" />
      {{else}} {{ .Site.Params.title }} {{end}} </h1>
        <h2 class="site-description">{{ .Site.Params.subtitle }} </h2>
    </div>
    {{ partial "shared/nav" . }}

  </div>
</header>
