.pagination {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 1rem auto;
  font-size: 1.3rem;
  color: #9eabb3;
  text-align: center;
}

.pagination a {
  color: #9eabb3;
  transition: all 0.2s ease;
}

.page-number {
  display: inline-block;
  padding: 2px 0;
  min-width: 100px;
}

.newer-posts,
.older-posts {
  position: absolute;
  display: inline-block;
  padding: 0 15px;
  border: #ddd 1px dashed;
  text-decoration: none;
  transition: border 0.3s ease;
}

.newer-posts {
  left: 0;
}

.older-posts {
  right: 0;
}

.site-footer {
  padding-bottom: 20px !important;
}

.nav-current a:visited {
  color: yellow;
}

@media (min-width: 900px) {
  .ctsingle .post-feed {
    margin-top: -70px;
    padding-top: 0;
  }
  .ctsingle .site-nav {
    position: relative;
    top: -70px;
  }
}

@media (min-width: 795px) {
  .ctsingle .post-feed p {
    font-size: 1.8rem;
    line-height: 1.55em;
  }
}

@media (max-width: 650px) {
  .hide {
    display: none !important;
  }
  .copyright {
    text-align: center;
  }
}

.post-full-content pre code {
  color: #e5eff5;
}
.site-header {
  background-color: #000000;
  background-image: url(../img/prism.svg);
  background-attachment: fixed;
  background-size: cover;
}

//BEM from now on
.PageMetadata,
.PostMetadata {
  display: flex;
  padding: 70px 100px 0;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;

  &__timeToRead {
    flex: 1;
    display: flex;
    flex-direction: column;
    &--prefix {
      color: #7a7a8c;
    }
  }
  &__lastUpdated {
    flex: 1;
    display: flex;
    flex-direction: column;
    &--prefix {
      color: #7a7a8c;
    }
  }
  &__profileImage {
    margin-right: 24px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: cover;
  }
  &__author {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 0 2px;
    padding: 0;
    font-size: 2rem;
    &--prefix {
      color: #7a7a8c;
    }
  }
  git-edit {
    flex: 1;
  }
  @media (max-width: 1170px) {
    padding: 5vw 7vw 0;
  }
  @media (max-width: 500px) {
    padding: 0;
  }
}

.GitEdit {
  padding-right: 10px;
}

.PageMetadata__profileImage,
.PostMetadata__profileImage {
  transform: translate(0px, 0px);
  animation: float 6s ease-in-out infinite;
}
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 9px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-5px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
